## Java

*.class
*.war
*.ear
hs_err_pid*

.idea/
*.ipr
*.iws
*.iml
/build/
/core/build/
/desktop/build/

/dist/
/core/dist/
/desktop/dist/


/local.properties
.gradle/
gradle-app.setting

.DS_Store
Thumbs.db

/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/
/ios/IOSLauncher.app
/ios/IOSLauncher.app.dSYM
